.App {
  text-align: center;
  background-color: lightgray;
  height: 100vh;
}


.hr {
  border: .5px solid gray;
  margin: 5px 5px 5px 5px;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
